<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-menu">
            <li><a href="layout/home.html">Home</a></li>
            <li><a href="layout/randomizer.html">Suggest a Randomizer</a></li>
            <li><a href="layout/about.html">About</a></li>
        </ul>
        </nav>
    </header>
    <main>
        <div class="p1">
        Hello! Welcome to the random generator website! Our goal here is to give everyone a good and safe singale website for all of their needs that involve randomizers!
        Our team has worked very hard at this, and as we want to make it as good as posible for everyone, if you have any recommendations, we would love to hear your opinions!
        </div>
        <div class="card2">
            <a href="layout/home.html"style="width:100%">Home</a>
        </div>
        </div>
        <div class="card2">
            <a href="layout/randomizer.html" style="width:100%">Suggest a Randomizer</a>
        </div>
    </main>
</body>
</html>